body{
    background-color: skyblue;
}

.grid {
    display: grid;
    margin-top: 150px;
    width: 400px;
    height: 400px;
    justify-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: whitesmoke;

}

.cell {
    border: black 2px solid;
    padding: auto;

}

.cell:hover{
    background-color: slategray;
}